/* Extra extra small devices (phones, 280px and down) */
@media only screen and (min-width: 280px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-medium-1);
  }
  nav .hello {
    width: 34%;
    font-size: var(--font-medium);
  }
  nav .hello img {
    height: 20px;
    width: 20px;
  }
  .popup {
    left: -26%;
    top: 0;
    width: 140%;
    height: 100%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .surprise-button .desc {
    font-size: var(--font-small);
  }
  .imageCount p {
    font-size: var(--font-small);
  }
  #surprise {
    width: 28%;
    font-size: var(--font-small);
  }
  #imageCount {
    width: 20%;
    font-size: var(--font-small);
  }
  input {
    width: 90%;
  }
  #generate {
    width: 40%;
  }
  .result {
    width: 100%;
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-quote {
    font-size: var(--font-small);
    padding: 20px;
    max-width: 90%;
  }
  #random-images {
    /* gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 50px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  #preview-container {
    width: 450px;
    height: 450px;
  }
  #preview-container img {
    width: 350px;
    height: 350px;
  }
  #preview-container .close {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: var(--font-large-1);
    cursor: pointer;
    color: var(--text-color);
  }
  #random-quote {
    max-width: 90%;
    font-size: var(--font-medium);
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  #random-images img {
    height: 100px;
    width: 100px;
  }
  .accordion {
    width: 260px;
  }
  .accordion-header {
    font-size: var(--font-small);
    padding-right: 40px;
  }
  .accordion-content {
    font-size: var(--font-small);
  }
  footer {
    width: 100%;
  }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer h1 {
    font-size: var(--font-medium-0);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .site-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .copyright {
    font-size: var(--font-small);
  }
}

/* Extra small devices (phones, 450px and down) */
@media only screen and (min-width: 412px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-large-1);
  }
  nav .hello {
    width: 30%;
  }
  .popup {
    left: -26%;
    top: 0;
    width: 140%;
    height: 100%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .surprise-button .desc {
    font-size: var(--font-medium);
  }
  .imageCount p {
    font-size: var(--font-medium);
  }
  #surprise {
    width: 24%;
  }
  #imageCount {
    width: 16%;
  }
  input {
    width: 90%;
  }
  #generate {
    width: 25%;
  }
  .result {
    width: 100%;
  }
  #image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #image-grid img {
    max-width: 160px;
    max-height: 160px;
  }
  #preview-container {
    width: 450px;
    height: 450px;
  }
  #preview-container img {
    width: 350px;
    height: 350px;
  }
  #preview-container .close {
    position: absolute;
    top: 40px;
    right: 50px;
    font-size: var(--font-large-1);
    cursor: pointer;
    color: var(--text-color);
  }
  #random-quote {
    max-width: 90%;
    font-size: var(--font-medium-0);
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  .accordion {
    width: 370px;
  }
  .accordion-header {
    font-size: var(--font-small);
  }
  .accordion-content {
    font-size: var(--font-medium);
  }
  footer {
    width: 100%;
  }
  footer h1 {
    font-size: var(--font-large);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .site-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .copyright {
    font-size: var(--font-medium);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-large-1);
  }
  nav .hello {
    width: 18%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #surprise {
    width: 15%;
  }
  #imageCount {
    width: 10%;
  }
  input {
    width: 90%;
  }
  #generate {
    width: 25%;
  }
  .result {
    width: 100%;
  }
  #image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  #random-quote {
    max-width: 90%;
    font-size: var(--font-medium-0);
  }
  #random-images {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  .accordion {
    width: 550px;
  }
  footer {
    width: 100%;
  }
  footer h1 {
    font-size: var(--font-large-1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-large-1);
  }
  nav .hello {
    width: 14%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #surprise {
    width: 18%;
  }
  #imageCount {
    width: 10%;
  }
  input {
    width: 90%;
  }
  #generate {
    width: 25%;
  }
  .result {
    width: 100%;
  }
  #image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  #random-quote {
    max-width: 90%;
    font-size: var(--font-medium-0);
  }
  #random-images {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  .accordion {
    width: 700px;
  }
  footer {
    width: 100%;
  }
  footer h1 {
    font-size: var(--font-large-1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-large-1);
  }
  nav .hello {
    width: 14%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #surprise {
    width: 12%;
  }
  #imageCount {
    width: 6%;
  }
  input {
    width: 90%;
  }
  #generate {
    width: 25%;
  }
  .result {
    width: 100%;
  }
  #image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  #random-quote {
    max-width: 90%;
    font-size: var(--font-medium-0);
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  #random-images {
    gap: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  .accordion {
    width: 900px;
  }
  footer {
    width: 100%;
  }
  footer h1 {
    font-size: var(--font-large-1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: var(--font-large-1);
  }
  nav .hello {
    width: 9%;
  }
  .container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #surprise {
    width: 8%;
  }
  #imageCount {
    width: 4%;
  }
  input {
    width: 80%;
  }
  #generate {
    width: 15%;
  }
  .result {
    width: 100%;
  }
  #image-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #random-quote {
    max-width: 70%;
    font-size: var(--font-medium-0);
  }
  .randoms {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .random-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #random-images {
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 200px;
  }
  #random-images img {
    height: 130px;
    width: 150px;
  }
  .accordion {
    width: 1000px;
  }
  footer {
    width: 100%;
  }
  .footer-top {
    margin-bottom: 30px;
  }
  footer h1 {
    font-size: var(--font-large-1);
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .social-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
