/* Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--core-font);
    user-select: none;
    outline: none;
}

/* CSS Variables */
:root {
    /* HSL colors */
    --container-color: hsla(0, 0%, 0%, 0.439);
    --body-color: hsl(251, 21%, 15%);
    --body-color-before: hsl(273, 81%, 48%);
    --body-color-after: hsl(157, 80%, 55%);
    --image-background-blur: hsla(0, 0%, 0%, 0.9);
    --text-color: hsl(0, 0%, 100%);
    --box-shadow: hsla(0, 0%, 0%, 0.1);
    --border-color: hsl(300, 1%, 22%);
    --span-color: hsl(0, 92%, 64%);
    --button-color: hsl(225, 69%, 53%);
    --button-color-alt: hsl(225, 89%, 59%);
    --surprise-button: hsl(0, 0%, 100%);
    --surprise-button-alt: hsla(0, 0%, 88%);
    --disabled-button: hsl(0, 0%, 40%);
    --error-message-color: hsl(0, 100%, 50%);

    /* font-size */
    --font-small: 12px;
    --font-medium: 14px;
    --font-medium-0: 18px;
    --font-medium-1: 22px;
    --font-large: 28px;
    --font-large-1: 40px;
    --title-font: 60px;
    --close-button: 50px;
    --mini-close-button: 35px;
    --download-button: 45px;
    --mini-download-button: 25px;
    --ultra-mini-download-button: 15px;

    /* font-weight */
    --font-weight-light: 200;
    --font-weight-medium: 400;
    --font-weight-heavy: 600;

    /* font-family */
    --core-font: 'Poppins', sans-serif;
}

/* Body Styles */
body {
    background: var(--body-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container Styles */
.container {
    position: relative;
    width: 800px;
    min-height: 280px;
    color: var(--text-color);
    background: var(--container-color);
    padding: 10px 20px;
    border-radius: 10px;
    border: 3px solid var(--border-color);
}

.container::before,
.container::after {
    content: "";
    position: absolute;
    background-color: var(--body-color-before);
    width: 100px;
    height: 100px;
    filter: blur(140px);
    left: -20%;
    top: 10%;
    z-index: -1000;
}

/* Heading Styles */
h1 {
    font-size: var(--title-font);
    font-weight: var(--font-weight-heavy);
    margin-bottom: 30px;
    text-align: center;
}

h1 span {
    color: var(--span-color);
}

/* Image Text Styles */
.imageText {
    display: flex;
    margin-bottom: 10px;
}

.imageText .desc {
    font-size: var(--font-medium);
    color: var(--text-color);
    align-items: baseline;
}

/* Surprise Button Styles */
#surprise {
    width: 90px;
    height: 20px;
    cursor: pointer;
    background: var(--surprise-button);
    color: var(--border-color);
    margin-left: 10px;
    border-radius: 5px;
    font-size: var(--font-small);
    font-weight: var(--font-weight-heavy);
    align-items: center;
    border: none;
}

#surprise:hover {
    background-color: var(--surprise-button-alt);
}

/* Image Count Styles */
.imageCount p {
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    margin-left: 175px;
    margin-right: 8px;
}

#imageCount {
    border-radius: 200px;
    border: none;
    cursor: pointer;
    background-color: var(--surprise-button);
}

#imageCount:hover {
    background: var(--surprise-button-alt);
}

/* Form Styles */
.gen-form {
    margin-top: 5px;
    display: flex;
    gap: 0;
    width: 100%;
}

input {
    width: 80%;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    padding: 0 15px;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease;
}

input:focus {
    border: 3px solid var(--border-color);
}

/* Generate Button Styles */
#generate {
    width: 20%;
    height: 36px;
    color: var(--text-color);
    background: var(--button-color);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: var(--font-medium);
    font-weight: var(--font-weight-medium);
    transition: all 0.3s ease;
    border: none;
}

#generate:hover {
    background: var(--button-color-alt);
    border: none;
}

/* Loading Styles */
#loading {
    display: none;
    font-size: var(--font-medium-1);
    font-weight: var(--font-weight-medium);
    margin: 10px 0;
}

/* Disabled Button Styles */
#generate:disabled,
#generate[disabled] {
    border: 3px solid var(--border-color);
    background-color: var(--surprise-button-alt);
    color: var(--disabled-button);
    cursor: auto;
}

/* Result Section Styles */
.result {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image Grid Styles */
#image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

#image-grid img {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease;
    align-items: center;
}

#image-grid img:hover {
    border-color: var(--border-color);
}

/* Preview Container Styles */
#preview-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

#preview-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#preview-container .close {
    position: absolute;
    top: -15px;
    right: -40px;
    font-size: var(--close-button);
    cursor: pointer;
    color: var(--text-color);
}

#preview-container .close:hover {
    color: var(--span-color);
}

#preview-container #download {
    position: absolute;
    display: flex;
    bottom: -60px;
    align-items: center;
    padding: 5px 10px;
    font-size: var(--download-button);
    cursor: pointer;
    background: var(--button-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: var(--text-color);
}

#preview-container #download i {
    color: var(--text-color);
    margin-left: 10px;
    font-size: var(--download-button);
}

#preview-container #download:hover {
    background: var(--button-color-alt);
}

.blurred-background {
    position: fixed;
    top: -10%;
    left: 0;
    width: 100%;
    height: 150%;
    background: var(--image-background-blur);
    z-index: -1;
}

/* Modal Styles */
.modal {
    display: none;
}

.modal-content {
    max-width: 600px;
    margin: auto;
}

/* Error Container Styles */
#error-container {
    color: var(--error-message-color);
    font-weight: var(--font-weight-heavy);
    padding: 10px;
    position: absolute;
    top: 15%;
    margin-top: 10px;
    font-size: var(--font-medium);
    display: none;
}
